<h3>
   Dashboard
</h3>
<section data-ng-controller="DashboardController" data-ng-init="initPage()">
    <div class="row">
       <div class="col-lg-6 col-md-6">
          <!-- START panel-->
          <div class="panel panel-primary">
             <div class="panel-heading">
                <div class="row">
                   <div class="col-xs-3">
                      <em class="fa fa-excel-file-o fa-5x"></em>
                   </div>
                   <div class="col-xs-9 text-right">
                      <div class="text-lg">{{dashboardData.files}}</div>
                      <p class="m0">Files stored
                </div>
             </div>
             <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                   <em class="fa fa-chevron-circle-right"></em>
                </span>
             </a>
             <!-- END panel-->
          </div>
       </div>
       <div class="col-lg-6 col-md-6">
          <!-- START panel-->
          <div class="panel panel-green">
             <div class="panel-heading">
                <div class="row">
                   <div class="col-xs-3">
                      <em class="fa fa-shopping-cart fa-5x"></em>
                   </div>
                   <div class="col-xs-9 text-right">
                      <div class="text-lg">{{dashboardData.markets}}</div>
                      <p class="m0">Different Markets</p>
                   </div>
                </div>
             </div>
             <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                   <em class="fa fa-chevron-circle-right"></em>
                </span>
             </a>
          </div>
          <!-- END panel-->
       </div>
    </div>
    <div class="row">
       <div class="col-lg-6 col-md-6">
          <!-- START panel-->
          <div class="panel panel-warning">
             <div class="panel-heading">
                <div class="row">
                   <div class="col-xs-3">
                      <em class="fa fa-globe fa-5x"></em>
                   </div>
                   <div class="col-xs-9 text-right">
                      <div class="text-lg">{{dashboardData.locations}}</div>
                      <p class="m0">Locations</p>
                   </div>
                </div>
             </div>
             <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                   <em class="fa fa-chevron-circle-right"></em>
                </span>
             </a>
          </div>
          <!-- END panel-->
       </div>
       <div class="col-lg-6 col-md-6">
          <!-- START panel-->
          <div class="panel panel-danger">
             <div class="panel-heading">
                <div class="row">
                   <div class="col-xs-3">
                      <em class="fa fa-database fa-5x"></em>
                   </div>
                   <div class="col-xs-9 text-right">
                      <div class="text-lg">{{dashboardData.rows}}</div>
                      <p class="m0">Total rows</p>
                   </div>
                </div>
             </div>
             <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                <span class="pull-left">View Details</span>
                <span class="pull-right">
                   <em class="fa fa-chevron-circle-right"></em>
                </span>
             </a>
          </div>
          <!-- END panel-->
       </div>
    </div>
</section>