<h3>
   Energy Market Data Analysis
   <small>Welcome to the Energy Market Analysis Web!</small>
</h3>
<section>
  <div class="jumbotron text-center">
    <div class="text-center">
      <img alt="Market" class="img-responsive center-block" src="modules/core/img/brand/logo-market.png" />
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Web Hub for the Energy Market Data
      </p>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary btn-lg" href="http://www.atkloud.com" target="_blank">Learn more</a>
        </p>
        <p>The Energy Market Data Web allows users to download data from the FTP sources, query and analyze this information online.</p>
        <p>Click <em>Signup</em> or <em>Signin</em> with your existing account to get started.</p>
    </div>
  </div>
</section>