<h3>
   Kibana dashboard
</h3>
<section data-ng-controller="KibanaController" data-ng-init="initPage()">
    <div class="row" ng-if="!elasticStarted">
       <div class="col-lg-12">
           Elasticsearch is not running. Launch the elasticsearch service!
       </div>
    </div>
    <div class="row" ng-if="elasticStarted">
        <div class="col-lg-12">
            <span class="pull-right">
                    <ui-select id="dashboardSelect" style="width: 250px" ng-model="comboboxes.selectedDashboard" theme="bootstrap" ng-change="dashboardChange()" ng-disabled="disabled">
                       <ui-select-match placeholder="Select dashboard...">{{$select.selected.title}}</ui-select-match>
                       <ui-select-choices repeat="dashboard in dashboardList | filter: $select.search">
                          <span ng-bind-html="dashboard.title | highlight: $select.search"></span>
                       </ui-select-choices>
                    </ui-select>
            </span>
                
        </div>
    </div>
    <div class="row" ng-if="elasticStarted">
        <div class="col-lg-12">
            <tabset type="pills">
                <tab ng-show="dashboardTitle" heading="{{dashboardTitle}}">
                    <hr />
                    <iframe ng-src="{{dashboardURL}}" height="600" width="100%"></iframe>
                </tab>
                <tab heading="Settings">
                    <hr />
                    <div class="row" ng-if="elasticStarted">
                       <div class="col-lg-12">
                           <button class="btn btn-success" ng-click="indexAll()"><em class="icon-energy"></em> Index all</button>
                       </div>
                    </div>
                    <div class="row" ng-if="indexing">
                       <div class="col-lg-4">
                           Indexing information...
                       </div>
                       <div class="col-lg-4">
                           {{DADocs}}
                       </div>
                       <div class="col-lg-4">
                           {{RTBMDocs}}
                       </div>
                    </div>
                    <hr />
                    <h3> Configured dashboards </h3>
                    <form role="form" ng-submit="saveDashboards()">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                  <label>Dashboard 1 title</label>
                                  <input type="text" placeholder="Dashboard 1 title" ng-model="formDashboards.title1" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                  <label>Dashboard 1 URL</label>
                                  <input type="text" placeholder="Dashboard 1 URL" ng-model="formDashboards.url1" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                  <label>Dashboard 2 title</label>
                                  <input type="text" placeholder="Dashboard 2 title" ng-model="formDashboards.title2" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                  <label>Dashboard 2 URL</label>
                                  <input type="text" placeholder="Dashboard 2 URL" ng-model="formDashboards.url2" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                  <label>Dashboard 3 title</label>
                                  <input type="text" placeholder="Dashboard 3 title" ng-model="formDashboards.title3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                  <label>Dashboard 3 URL</label>
                                  <input type="text" placeholder="Dashboard 3 URL" ng-model="formDashboards.url3" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                  <label>Dashboard 4 title</label>
                                  <input type="text" placeholder="Dashboard 4 title" ng-model="formDashboards.title4" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                  <label>Dashboard 4 URL</label>
                                  <input type="text" placeholder="Dashboard 4 URL" ng-model="formDashboards.url4" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                  <label>Dashboard 5 title</label>
                                  <input type="text" placeholder="Dashboard 5 title" ng-model="formDashboards.title5" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                  <label>Dashboard 5 URL</label>
                                  <input type="text" placeholder="Dashboard 1 URL" ng-model="formDashboards.url5" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-default"><em class="icon-save"></em> Save</button>
                    </form>
                </tab>
            </tabset>
        </div>
    </div>
    
</section>