<h3>SPP FTP file management</h3>
<section data-ng-controller="FilemanagerController" data-ng-init="initPage()">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Market</div>
                <div class="panel-body">
                      <div class="form-group">
                        <ui-select style="width: 175px" ng-model="comboboxes.selectedMarket" theme="bootstrap" ng-change="marketChange()" ng-disabled="disabled">
                           <ui-select-match placeholder="Market...">{{$select.selected.label}}</ui-select-match>
                           <ui-select-choices repeat="market in availableMarkets | filter: $select.search">
                              <span ng-bind-html="market.label | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Available Market Data
                    <span class="pull-right">
                      <a class="btn btn-primary btn-xs" ng-show="!filesLoading" ng-click="importAvailableFiles()" ng-disabled="loadFilesDisabled"> <em class="fa fa-cloud-download"></em> Load {{fileAvailableList.length}} files </a>
                    </span>
                </div>
                <div class="panel-body">
                    <form class="form-inline" name="searchAvailableForm">
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Start date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFromAvailableInput" is-open="openedAvailableFrom" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openAvailableFrom($event)"><em class="icon-calendar"></em></button>
                            </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="End date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateToAvailableInput" is-open="openedAvailableTo" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openAvailableTo($event)"><em class="icon-calendar"></em></button>
                            </span>
                        </div>
                      </div>
                     <button class="btn btn-success" type="submit" ng-click="searchAvailable()" ng-disabled="searchAvailableForm.$invalid"><em class="icon-magnifier"></em> Search</button>
                    </form>
                    <br />
                    <div class="table-responsive">
                        <div ui-grid="availableGridOptions" ui-grid-pagination class="grid" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Loaded files <span class="pull-right" ng-hide="!filesLoading"> Loading files... <span class="whirl line"></span> </span></div>
                <div class="panel-body">
                    <form class="form-inline" name="searchLoadedForm" >
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Start date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFromLoadedInput" is-open="openedLoadedFrom" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openLoadedFrom($event)"><em class="icon-calendar"></em></button>
                            </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="End date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateToLoadedInput" is-open="openedLoadedTo" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openLoadedTo($event)"><em class="icon-calendar"></em></button>
                            </span>
                        </div>
                      </div>
                     <button class="btn btn-success" type="submit" ng-click="searchLoaded()" ng-disabled="searchLoadedForm.$invalid"><em class="icon-magnifier"></em> Search</button>
                    </form>
                    <br />
                    <div class="table-responsive">
                        <div ui-grid="loadedGridOptions" ui-grid-pagination class="grid" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</section>

