<h3>FTP file management</h3>
<section data-ng-controller="FilemanagerController" data-ng-init="initPage()">
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">Available market data</div>
                <div ng-class="filesPanelClass">
                    <tabset>
                        <tab heading="Explorer">
                            <div class="table-responsive">
                                <ul class="list-inline">
                                    <li><i class="fa fa-folder-open-o"></i></li>
                                    <li ng-repeat="data in currentDirectoryComponents">
                                        <a ng-click="setDir(data.subDirFullString)">{{data.subDirString}}</a> / 
                                    </li>
                                </ul>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Size</th>
                                            <th width="40px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="file in fileList">
                                            <td ng-if="file.type === 'd'">
                                                <a ng-click="listDir(file.name)">{{file.name}}</a>
                                            </td>
                                            <td ng-if="file.type != 'd'">
                                                {{file.name}}
                                            </td>
                                            <td>{{file.size/1000000 | number : 2}} (MB)</td>
                                            <td ng-if="file.type === 'd'">

                                            </td>
                                            <td ng-if="file.type != 'd'">
                                                <button class="btn btn-default btn-xs" ng-click="loadFile(file.name)"><em class="icon-cloud-download"></em></button>
                                            </td>
                                        </tr>
                                    </tbody>
                              </table>
                            </div>
                        </tab>
                        <tab heading="Tree">
                            <button class="btn btn-success pull-right" ng-if="selectedBranch" ng-click="loadSelectedFile()"><em class="icon-cloud-download"></em> Load selected</button>
                            <abn-tree tree-data="treeData" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">Loaded files <span ng-class="filesDownloadingPanelClass"> </span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <div class="form-group">
                                <div class="input-group">
                                    <input type="text" placeholder="Start date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFromInput" is-open="openedFrom" ng-required="false" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openFrom($event)"><em class="icon-calendar"></em></button>
                                    </span>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                    <input type="text" placeholder="End date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateToInput" is-open="openedTo" ng-required="false" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openTo($event)"><em class="icon-calendar"></em></button>
                                    </span>
                                </div>
                              </div>
                              <button class="btn btn-default btn-success pull-right" ng-click="listLoadedFiles()"><em class="icon-magnifier"></em> Filter</button>
                            </form>
                            <br />
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</section>

