<h3 data-ng-controller="TitleController">Data Analysis for {{marketName}} </h3>
<section data-ng-controller="AnalysisController" data-ng-init="initPage()">
    <div class="row">
        <div class="col-lg-12">
            <div ng-class="panelColor">
                <!-- Default panel contents -->
                <div class="panel-heading">Data Review: Period and Location</div>
                <div class="panel-body">
                    <form class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Start date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateFromInput" is-open="openedFrom" ng-required="false" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><em class="icon-calendar"></em></button>
                            </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="End date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dateToInput" is-open="openedTo" ng-required="false" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openTo($event)"><em class="icon-calendar"></em></button>
                            </span>
                        </div>
                      </div>
                     <div class="form-group" style="width: 550px">
                        <ui-select multiple="" ng-model="comboboxes.selectedLocations" theme="bootstrap" ng-disabled="disabled" style="width: 550px">
                           <ui-select-match placeholder="Select locations...">{{$item.label}}</ui-select-match>
                           <ui-select-choices repeat="location in locations | filter:$select.search">
                               <div ng-bind-html="location.value | highlight: $select.search"></div>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                     <button class="btn btn-success" ng-click="search()"><em class="icon-magnifier"></em> Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div ng-class="panelColor">
                <div class="panel-heading"> 
                  Data 
                    <span class="pull-right">
                      <a class="btn btn-default btn-xs" ng-csv="exportData()" filename="market_export.csv"> <em class="fa fa-download"></em> Excel ({{totalItems}} rows) </a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height: 600px;"></div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-lg-6">
            <div ng-class="panelColor">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    Data Review: Visual Reference
                </div>
                <div ng-class="panelClass">
                    <span class="pull-left">
                        <ul class="list-inline" ng-show="showAveragesOnGraph">
                            <li><b>Averages</b></li>
                            <li>LMP <span class="label label-info">{{averageLMP}}</span></li>
                            <li>MLC <span class="label label-info">{{averageMLC}}</span></li>
                            <li>MCC <span class="label label-info">{{averageMCC}}</span></li>
                            <li>MEC <span class="label label-info">{{averageMEC}}</span></li>
                        </ul>
                    </span>
                    <span class="pull-right">
                        <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
                            {{graphSelectedSeries}} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="filterSeries('ALL')">ALL</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="filterSeries('LMP')">LMP</a></li>
                            <li><a ng-click="filterSeries('MLC')">MLC</a></li>
                            <li><a ng-click="filterSeries('MCC')">MCC</a></li>
                            <li><a ng-click="filterSeries('MEC')">MEC</a></li>
                          </ul>
                        </div>
                    </span>

                    <canvas id="line" class="chart chart-line" data="graphData" options="graphOptions" 
                      labels="labels" legend="true" series="series" height="300px" 
                      click="onClick">
                    </canvas> 
                </div>
            </div>
        </div>
    </div>    
        
</section>

